<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del equipo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/icons/fulltech-logo.ico" type="image/x-icon">
</head>
<body>
    <div class="detalles-site-page">  
        <div class="detalles-site-box">
            <div class="exit-site-detalles">
                <a href="/equipo"><span class="material-symbols-outlined" style="font-size: 30px;">close</span></a>
            </div>
            <div class="site-form">
                <table border="1px" style="margin-top: 3vh;">
                    <% if(data) { %>
                        <tr><th>TIPO DE DISPOSITIVO</th><td><%= data.tipo_equipo %></td></tr>
                        <tr><th>MARCA</th><td><%= data.marca %></td></tr>
                        <tr><th>MODELO</th><td><%= data.modelo %></td></tr>
                        <tr><th>NÚMERO DE SERIE</th><td><%= data.no_serie %></td></tr>
                        <tr><th>SISTEMA OPERATIVO</th><td><%= data.sistema_operativo %></td></tr>
                        <tr><th>PROPIETARIO</th><td><%= data.propietario %></td></tr>
                        <tr><th>LÍNEA TELEFÓNICA</th><td><%= data.linea_telefonica %></td></tr>
                        <tr><th>PIN</th><td><%= data.pin %></td></tr>
                        <tr><th>IMEI</th><td><%= data.imei %></td></tr>
                        <tr><th>CUENTA GOOGLE</th><td><%= data.cuenta_google %></td></tr>
                        <tr><th>CONTRASEÑA DE LA CUENTA</th><td><%= data.password_cuenta %></td></tr>
                        <tr><th>FECHA DE COMPRA</th><td><%= data.fecha_compra %></td></tr>
                        <tr><th>FECHA DE RENOVACIÓN</th><td><%= data.fecha_renovacion %></td></tr>
                    <% } %>
                </table>
            </div>
            <div>
                <p style="margin-top: 1.5vh; margin-bottom: 1.5vh; font-weight: bold;">Licencias asignadas:</p>
                <div>
                    <table border="1px">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Tipo de Licencia</th>
                                <th>Keycode</th>
                                <th>Fecha de Compra</th>
                                <th>Fecha de Renovación</th>
                                <th>Proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(licencias.length > 0) { %>
                                <% licencias.forEach(licencia => { %>
                                    <tr>
                                        <td><%= licencia.nombre %></td>
                                        <td><%= licencia.tipo_licencia %></td>
                                        <td><%= licencia.keycode %></td>
                                        <td><%= licencia.fecha_compra %></td>
                                        <td><%= licencia.fecha_renovacion %></td>
                                        <td><%= licencia.proveedor %></td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="6">No hay licencias asignadas a este equipo.</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>